# flyctl launch added from .gitignore
# Ignore node_modules directory
**/node_modules

# Ignore .env file
**/.env

# Ignore log files
**/*.log

# Ignore compiled files
**/*.exe
**/*.dll

# Ignore temporary files
**/*.tmp

# Ignore IDE-specific files
**/.vscode
**/.idea

# Ignore package-lock.json file
**/package-lock.json

# Ignore build output directory
dist
fly.toml
