{% extends 'base.html' %}

{% block title %}Azure Page{% endblock %}

{% block content %}
<h1>Microsoft Azure</h1>
      <div class="container">
        <!-- Left Section: Form -->
        <div class="left-section">
            <h2>Tasks and Workflows</h2><br>

            <form action="/generate" method="post" onsubmit="return handleTaskChange()">
                <label for="task">What Azure based workflow would you like to implement in Github Actions</label>
                <select id="task" name="task" required onchange="handleTaskChange()">
                    <option value="configure">Configure</option>
                    <option value="deploy">Deploy</option>
                    <option value="cli">Azure CLI commands</option>
                    <option value="logs">Logs</option>
                </select><br><br>


                <!-- Deployment section (hidden by default) -->
                <div id="deploylist" style="display: none;">
                    <label for="deploy_task">What AWS service would you like to deploy to:</label>
                    <select id="deploy_task" name="deploy_task" required>
                        <option value="az_k8s">Azure Kubernetes service</option>
                        <option value="az_wa">Azure Web App</option>
                        <option value="az_pg">Azure PostgreS</option>
                        <option value="azure_sql">Azure SQL</option>
                        <option value="az_ss">Azure Static Site</option>
                    </select><br><br>
                    <button type="submit" class="copy" ">Generate YAML</button>

                </div>
            </form>
        </div>

        <!-- Middle Section: YAML Script Output -->
        <div class="middle-section">
            <h2>YAML Script</h2>
            <pre id="scriptOutput"></pre>
            <button type="submit" class="button">Copy</button>

        </div>

        <!-- Right Section: Future Content -->
         
        <div class="right-section"> <h2>Additional Configurations</h2>
            <p>Future content for more settings can go here.</p>
        </div>
    </div>
    
{% endblock %}

