{% extends 'base.html' %}

{% block title %}GCP Page{% endblock %}

{% block content %}
    <h2>GCP Deployment</h2>
   
    <div class="container">
        <!-- Left Section: Form -->
        <div class="left-section">
            <h2>Tasks and Workflows</h2><br>

            <form action="/generate" method="post" onsubmit="return handleTaskChange()">
                <label for="task">What Task/Action would you like to implement:</label>
                <select id="task" name="task" required onchange="handleTaskChange()">
                    <option value="build">Build</option>
                    <option value="test">Test</option>
                    <option value="deploy">Deploy</option>
                    <option value="linting">Linting</option>
                    <option value="snyk">Snyk</option>
                    <option value="setup">Setup</option>
                    <option value="custom" id="custom_action">Custom Workflow</option>
                </select><br><br>

                <!-- Custom Workflow Section (hidden by default) -->
            </form>
        </div>

        <!-- Middle Section: YAML Script Output -->
        <div class="middle-section">
            <h2>Fetched YAML Script</h2>
            <pre id="scriptOutput"></pre>
            <button type="submit" class="button" ">Copy</button>

        </div>

        <!-- Right Section: Future Content -->
         
        <div class="right-section"> <h2>Additional Configurations</h2>
            <p>Future content for more settings can go here.</p>
        </div>
    </div>
    
{% endblock %}
