
{% extends 'base.html' %}

{% block title %}Azure Page{% endblock %}

{% block content %}
    <div class="container">
        <div class="intro-section">
            <h1>Welcome to the GitHub Actions YAML Generator</h1>
            <p>
                This tool helps you generate GitHub Actions YAML scripts for various deployment and CI/CD tasks.
                Use the navigation links to select a service and get started with the corresponding configurations.
            </p>
        </div>
            <li>
                <a href="/aws">
                    <img src="/static/images/aws.png" alt="AWS Icon" style="width:280px; height:280px;"> 
                </a>
            </li>
            <li>
                <a href="/gcp">
                    <img src="/static/images/gcp.jpg" alt="GCP Icon" style="width:250px; height:250px;">
                </a>
            </li>
            <li>
                <a href="/azure">
                    <img src="/static/images/az.jpg" alt="Azure Icon" style="width:250px; height:200px;">                </a>
            </li>
            <li>
                <a href="/github">
                    <img src="/static/images/gh-logo.png" alt="GitHub Icon" style="width:300px; height:200px;">
                </a>
            </li>
            <li>
                <a href="/custom">
                    <img src="/static/images/custom.png" alt="Custom Workflow Icon" style="width:200px; height:200px;">
                </a>
            </li>
        
         
    </div>
    
{% endblock %}


   
