{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="full-screen-container">
        <div class="intro-section">
            <h1>Welcome to the GitHub Actions YAML Generator</h1>
            <p>
                This tool helps you generate GitHub Actions YAML scripts for various deployment and CI/CD tasks.
                Use the navigation links to select a service and get started with the corresponding configurations.
            </p>
        </div>

        <!-- Move icon container closer to the bottom -->
        <div class="icon-section">
            <div class="icon-container">
                <a href="/aws" class="icon-item">
                    <img src="/static/images/aws.png" alt="AWS Icon">
                </a>
                <a href="/gcp" class="icon-item">
                    <img src="/static/images/gcp.jpg" alt="GCP Icon">
                </a>
                <a href="/azure" class="icon-item">
                    <img src="/static/images/az.jpg" alt="Azure Icon">
                </a>
                <a href="/github" class="icon-item">
                    <img src="/static/images/gh-logo.png" alt="GitHub Icon">
                </a>
                <a href="/custom" class="icon-item">
                    <img src="/static/images/custom.png" alt="Custom Workflow Icon">
                </a>
            </div>
        </div>
    </div>
{% endblock %}
