<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="../static/js/script.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GitHub Actions YAML Generator</title>
</head>
<body>
    <h1>GitHub Actions YAML Generator</h1>
    <div class="container">
        <!-- Left Section: Form -->
        <div class="left-section">
            <h2>Tasks and Workflows</h2><br>

            <form action="/generate" method="post" onsubmit="return handleTaskChange()">
                <label for="task">What Task/Action would you like to implement:</label>
                <select id="task" name="task" required onchange="handleTaskChange()">
                    <option value="build">Build</option>
                    <option value="test">Test</option>
                    <option value="deploy">Deploy</option>
                    <option value="linting">Linting</option>
                    <option value="snyk">Snyk</option>
                    <option value="setup">Setup</option>
                    <option value="custom" id="custom_action">Custom Workflow</option>
                </select><br><br>

                <!-- Custom Workflow Section (hidden by default) -->
                <div id="custom_flow" style="display: none;">
                    <label for="os">Operating System:</label>
                    <select id="os" name="os">
                        <option value="ubuntu">Ubuntu Linux</option>
                        <option value="windows">Windows</option>
                        <option value="mac">Mac</option>
                    </select><br><br>

                    <label for="triggers">Triggers:</label>
                    <br><input type="checkbox" id="push" name="triggers" value="push"> Push<br>
                    <input type="checkbox" id="pull_request" name="triggers" value="pull_request"> Pull Request<br>
                    <input type="checkbox" id="workflow_call" name="triggers" value="workflow_call"> Workflow Call<br>
                    <input type="checkbox" id="workflow_dispatch" name="triggers" value="workflow_dispatch"> Workflow Dispatch<br>
                    <br>
                </div>

                <!-- Deployment section (hidden by default) -->
                <div id="deploylist" style="display: none;">
                    <label for="deploy_task">Where would you like to deploy to:</label>
                    <select id="deploy_task" name="deploy_task" required>
                        <option value="aws">AWS</option>
                        <option value="gcp">Google (GCP)</option>
                        <option value="azure">Microsoft Azure</option>
                        <option value="docker">Docker</option>
                        <option value="gh_pages">GitHub Pages</option>
                    </select><br><br>
                </div>
                <button type="submit" style="display: block; margin: 0 auto;">Generate YAML</button>
            </form>
        </div>

        <!-- Middle Section: YAML Script Output -->
        <div class="middle-section">
            <h2>Fetched YAML Script</h2>
            <pre id="scriptOutput"></pre>
        </div>

        <!-- Right Section: Future Content -->
         
        <div class="right-section"> <h2>Additional Configurations</h2>
            <p>Future content for more settings can go here.</p>
        </div>
    </div>
</body>
</html>